<div class="row">
	<div class="span12">
		<h1>Pills App</h1>
		<h4>Keep track of your pills and take them on time with the help of Pills App</h4>
		<p class="btn btn-success">Log in</p>
	
		<p class="btn">Sign up</p>
	</div>
</div>